# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

#IDE
.vscode/
modDev.code-workspace

# other
eclipse/
run/
reobf/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Files from Forge MDK
forge*changelog.txt

# Custom ignores
groovy/
notes/
*.out
*.tmp
libs/
craftweaker/
test*.*/
tmp_reskillable/
tmp*.*/

# Minecraft Runtime
logs/
crash-reports/
saves/
config/
mods/
options*.txt
servers.dat
usercache.json
realms_persistence.json
waila_options.txt
local/