# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# other
eclipse/
run/
reobf/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Files from Forge MDK
forge*changelog.txt

# Custom ignores
groovy/
notes/
*.out
*.tmp
libs/